body { 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
}

.page-title-alt{
  padding: 350px 0 70px;
}

.border-thick{
  border: 10px solid;
}

.drag-lg-top{
  margin-top: -230px;
  @include desktop {
    margin-top: 0;
  }
}

.page-title-alt{
  .container{
    position: relative;
    z-index: 1;
  }
  .bg-shape-1{
    position: absolute;
    left: 0;
    top: 0;
  }
}