<section class="hero-area" id="top">
  <div class="w-100">
    <div class="hero-slider align-items-center">
      {% for slider-item in site.data.settings.hero-slider-items %}
      <img class="d-unset img-fluid" src="{{ site.baseurl }}/{{ slider-item.image }}"/>
      {% endfor %}
    </div>
  </div>
  <ul class="social-media-list mt-3 zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3">
      <a class="text-white social-icon" href="{{ social.link }}" target="_blank">
        <i class="{{ social.icon }}"></i>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
